<launch>
	<arg name="map_name" default="hector2" />
	<arg name="use_astra" default="false" />
	<arg name="use_costmap_cleaner"	default="false" />

	<!-- base launch -->
	<node pkg="base_control" type="serial_script.py" name="serial_controller"/>

	<!-- lidar launch -->
    <include file="$(find rplidar_ros)/launch/iris_rplidar.launch"/>
	
	<!-- astra_camera launch -->
    <include file="$(find astra_camera)/launch/iris_astra.launch" if="$(arg use_astra)"/>
		

	<!-- visualization launch  
	<node name="gui" pkg="rviz" type="rviz" args="-d $(find iris_nav)/navi.rviz"/> -->

	<!-- emotion (head and hands) launch 
        <include file="$(find bs_arm_controll)/launch/bs_arm_launch.launch"/> -->
	
        <!-- navigation launch -->
	<include file="$(find iris_nav)/launch/navigation.launch">
		<arg name="map_name" value="$(arg map_name)" />
		<arg name="use_costmap_cleaner"	value="$(arg use_costmap_cleaner)" />
		<arg name="use_astra" value="$(arg use_astra)" />
    </include>
	
</launch>
