<launch>
	<!-- base_control launch -->
	<node pkg="base_control" type="serial_script.py" name="serial_controller"/>
	
	<!-- rp_lidar launch -->
    <include file="$(find rplidar_ros)/launch/iris_rplidar.launch"/>
	
	<!-- ros_astra_camera launch -->
    <include file="$(find astra_camera)/launch/iris_astra.launch" />

	<!-- bs_arm_control launch -->
    <include file="$(find bs_arm_controll)/launch/bs_arm_launch.launch"/> 
</launch>
