<launch>
<include file="$(find astra_camera)/launch/astra.launch">
</include>
<node pkg="recognizer" type="simple_rec.py" name="recognizer">
<param name="maxr"  value="210"/>
<param name="maxg"  value="55"/>
<param name="maxb"  value="55"/>
<param name="minr"  value="70"/>
<param name="ming"  value="5"/>
<param name="minb"  value="5"/>
</node>

<node pkg="recognizer" type="converter.py" name="converter_node"/>
</launch>
