<launch>

	<arg name="use_amcl" default="true"/>
	<arg name="map_name" default="newest"/>	

	<!-- launch to start gmapping  -->
	<include file="$(find iris_nav)/launch/gmapping.launch" unless="$(arg use_amcl)"/>
	<!-- <include file="$(find iris_nav)/params/move_base.xml"/> -->
	<node pkg="iris_nav" type="move_base_controller.py" name="mb_con"/>

	<include file="$(find iris_nav)/launch/amcl.launch" if="$(arg use_amcl)">
		<arg name="map_name" value="$(arg map_name)"/>
	</include>

</launch>
