<launch>
  <!-- launch to start gmapping to build map from scans -->
	<arg name="scan" default="rescan" />
	<arg name="set_base_frame" default="base_link"/>
	<arg name="set_odom_frame" default="odom"/>
	<arg name="set_map_frame"  default="map"/>
	
	<node name="mapper" pkg="gmapping" type="slam_gmapping" args="scan:=$(arg scan)" respawn="false" output="screen">
		<param name="base_frame" value="$(arg set_base_frame)"/>
		<param name="odom_frame" value="$(arg set_odom_frame)"/>
		<param name="map_frame"  value="$(arg set_map_frame)"/>
		<param name="map_update_interval" value="1.0"/>
		<param name="maxUrange" value="3.0"/>
		<param name="sigma" value="0.05"/>
		<param name="kernelSize" value="1"/>
		<param name="lstep" value="0.05"/>
		<param name="astep" value="0.05"/>
		<param name="iterations" value="10"/> <!-- Number of scan-matching iterations -->
		<param name="lsigma" value="0.075"/>
		<param name="ogain" value="3.0"/>
		<param name="lskip" value="0"/> <!-- Number of beams to skip in each scan -->
		<param name="minimumScore" value="120"/> <!-- Min Score considering the results of scan matching -->
		<param name="srr" value="0.35"/> <!-- Odometry error (translation→ translation) -->
		<param name="srt" value="0.35"/> <!-- Odometry error (translation→ rotaion) -->
		<param name="str" value="0.35"/> <!-- Odometry error (rotation → translation) -->
		<param name="stt" value="0.35"/> <!-- Odometry error (rotation → rotation) -->
		<param name="linearUpdate" value="0.1"/> <!-- Min travel distance required for processing -->
		<param name="angularUpdate" value="0.1"/> <!-- Min rotation angle required for processing -->
		<param name="temporalUpdate" value="0.5"/> 
		<param name="resampleThreshold" value="0.5"/>
		<param name="particles" value="40"/> <!-- Number of particles in particle filter -->
		<param name="xmin" value="-15.0"/>
		<param name="ymin" value="-15.0"/>
		<param name="xmax" value="15.0"/>
		<param name="ymax" value="15.0"/>
		<param name="delta" value="0.05"/> <!-- Map Resolution: Distance / Pixel -->
		<param name="llsamplerange" value="0.005"/>
		<param name="llsamplestep" value="0.01"/>
		<param name="lasamplerange" value="0.005"/>
		<param name="lasamplestep" value="0.005"/>
		<param name="use_sim_time" value="false"/>
	</node>
</launch>
