<launch>
  <arg name="port" default="/dev/ttyUSB0"/>
  <node name="serial_controller" pkg="base_control" type="serial_script.py"/>
  <!-- <node pkg="AR_TB4WD_bringup" type="odom.py" name="odom_node"/>
  <node pkg="AR_TB4WD_bringup" type="lidar_fix.py" name="lidar_fix"/>
  <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="frame_id" value="laser"/>
    <remap from="scan" to="scan_bad"/>
  </node>
  <include file="$(find tc3-ros-package)/launch/multiply_tc3.launch" /> -->
</launch>
